@import '../../colors.css';

.resizable-panel {
    cursor: pointer;
    scale: 1;
}

.resizable-panel.expanded {
    position: fixed;
    z-index: 1;
    background-color: var(--dark-bg);
    box-shadow: rgb(135 128 128 / 25%) 0px 54px 55px, rgb(217 217 217 / 12%) 0px -12px 30px, rgb(255 252 252 / 12%) 0px 4px 6px, rgb(255 249 249 / 17%) 0px 12px 13px, rgb(255 255 255 / 9%) 0px -3px 5px;    border-radius: 10px;
    padding: 10px 20px;
}