/* .summary-section>p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: type 1s steps(20) 1;
}

@keyframes type {
    0% {
        width: 0;
    }
} */

/* .summary-section {
    width: max-content;
}

.summary-section>p {
    animation: typing 6s steps(31) infinite;
    animation-delay: 2s;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 0;
}

@keyframes typing {
    0% {
        width: 0%;
    }

    50%,
    100% {
        width: 100%;
    }

} */